asttokens
backcall
click
cloudpickle
colorama
comm
contourpy
cycler
cytoolz
dask
debugpy
decorator
executing
fonttools
fsspec
imagecodecs
imageio
importlib-metadata
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
lazy_loader
locket
matplotlib
matplotlib-inline
mkl-fft
mkl-random
mkl-service
munkres
nest-asyncio
networkx
numpy
packaging
parso
partd
pickleshare
Pillow
platformdirs
ply
prompt-toolkit
psutil
pure-eval
Pygments
pyparsing
PyQt5
PyQt5-sip
python-dateutil
PyWavelets
PyYAML
pyzmq
rawpy
scikit-image
scikit-learn
scipy
setuptools
sip
six
spyder-kernels
stack-data
threadpoolctl
tifffile
toolz
tornado
traitlets
wcwidth
wheel
zipp
